.main-grid {
  border: 2px solid blue;
}

.expanding-module {
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  width: 350px;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;

  &-expanded {
    color: black !important;
    background-color: white !important;
    padding-bottom: 2rem;
  }

  &-selected {
    color: black !important;
    background-color: white !important;
  }

  &-danger {
    background-color: orangered;

    color: white;
  }

  &-defcon {
    background-color: red;
    color: white;
  }

  &-warning {
    background-color: yellow;

    color: black;
  }

  &-ready {
    background-color: green;

    color: white;
  }
}

.selected-row {
  margin: 0.5rem 0rem;
}

select {
  margin: 0.5rem 0rem;
}

.hidden {
  display: none !important;
}

.half-width {
  width: 45%;
}

.full-width {
  width: 100%;
}

.ninety-width {
  width: 90%;
}

.note-viewer {
  min-height: 200px;
  border: 2px solid black;
}

.note-composer {
  min-height: 150px;
}

.disabled {
  opacity: 50%;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  pointer-events: none;
}
