html {
  /* This is the root font size for use with the "rem" unit */
  @media (max-width: 1920px) {
    font-size: 62.5%; // 1rem = 10px
  }

  @media (max-width: 1280px) {
    font-size: 50%; // 1rem = 8px
  }
}

@font-face {
  font-family: "Arvo";
  src: url("./fonts/Arvo-Regular.ttf");
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./fonts/IBMPlexSansCondensed-Regular.ttf");
}

body {
  font-family: "IBM Plex Sans";
}

.heading {
  font-family: "Arvo";
  font-size: 3.5rem;

  &-sub {
    font-size: 3rem;
  }
}

.center-text {
  text-align: center;
}

.xl-text {
  font-size: 5rem;
}

.medium-text {
  font-size: 2.5rem;
}

.small-medium-text {
  font-size: 2rem;
}

.small-text {
  font-size: 1.75rem;
}

.medium-large-text {
  font-size: 2.875rem;
}

.large-text {
  font-size: 3.25rem;
}

.shadow-text {
  text-shadow: 0rem 0rem 1.5rem black;
}

p {
  margin: 0;
}
